@keyframes bounce {
  0%, 50%, 100% {
    transform: translateY(0);
  }
  25%, 75%{
    transform: translateY(-10px);
  }
}

* {
    box-sizing: border-box;
}


a, a:visited {
  color: inherit;
  text-decoration: none;
}

body {
  background-color: #EEEEEE;
}

/* TOPBAR */
.topbar {
  background-image: linear-gradient(to left, #7a1414, #CF2B2B, #F75C5C);
  width: 100%;
  
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  padding: 5px 0;
  display: flex;
  align-items: center;
  overflow: hidden;
  z-index: 1;
}

.content {
  margin-top: 62px; /* 62px IS ON THE EDGE OF TOPBAR */
  padding: 0 4%;
  display: flex;
  flex-direction: column;
  padding-bottom: 75px;  
}

.topbar img {
  max-height: 50px;
  height: auto;
  width: auto;
  margin-left: 20px;
}

/* CONTENT */

.selected {
  border: 2px solid green;
}

.food-title, .drink-title, .dessert-title, .address-title, .address-field {
  font-family: 'Righteous';
  font-size: 22px;
}

.container {
  display: flex;
  gap: 10px; /* GAP BETWEEN EACH PRODUCT (INLINE PRODUCTS, GAP FROM FOOD TO FOOD, DRINK TO DRINK...)*/
  overflow-x: scroll;
  flex-wrap: nowrap;
  scrollbar-width: none;
  margin-top: 10px;
}

.product {
  width: 120px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10%;
  flex-shrink: 0;
  cursor: pointer;
 }

 .product:hover {
  transform: scale(0.99);
  transition: transform .5s ease;
 }

.product-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 10px 5px;
  gap: 12px; /* BETWEEN .PLATE .DESCRIPTION AND .PRICE */
}

.product-info div:first-child {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px; /* BETWEEN .PLATE AND .DESCRIPTION */
  
}

.price {
  color: green;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Roboto';
}

.product-info img {
  width: 100%;
  height: 60px;
  object-fit: cover;
  border-radius: 10%;
}


.plate {
  font-family: 'Roboto';
  font-size: 14px;
  color: #333333;  
  text-align: center;
}

.description {
  font-family: 'Roboto';
  font-size: 12px;
  color: #A6A6A6;
  text-align: center;
}

.check {
  font-size: 18px;
  color: green;
  border-radius: 50%;
  box-shadow: 0px 0px 5px rgba(0, 111, 0, 0.777);
}

section {
  margin: 1% 0;
}

.send {
  width: 100%;
  height: 100%;
  background-color: grey;
  color: #000000;
  font-size: 22px;
  font-weight: bold;
  border-radius: 50px;
  font-family: 'Righteous';
  border: 1px solid black;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

.send.active {
  cursor: pointer;
  background-color: yellow;
  animation: bounce .5s linear;
  transition: background-color 2s ease-in;
}

.bottombar {
  background: linear-gradient(to left, #CF2B2B, #F75C5C);
  width: 100%;
  height: 70px;
  padding: 10px 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: flex;
}

.popup-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: #e0e0e0cc;
  display: none;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 360px;
  min-height: 400px;
  background-image: linear-gradient(to top, #7a1414f0, #cf2b2bf0);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 50px;
  
}

.popup-title {
  font-family: 'Righteous';
  font-size: 1.5em;
}

.popup-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 90%;
}

.popup-details div {
  display: flex;
  justify-content: space-between;
  font-family: 'Righteous';
  font-size: 1.5em;
  color: #000000;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 90%;
  gap: 5px;
}

.button-confirm {
  width: 65%;
  height: 50px;
  color: #000000;
  font-size: 22px;
  font-weight: bold;
  border-radius: 50px;
  font-family: 'Righteous';
  border: 1px solid black;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  background-color: yellow;
}

.button-goback {
  width: 35%;
  height: 50px;
  background-color: darkgrey;
  color: #000000;
  font-size: 22px;
  font-weight: bold;
  border-radius: 50px;
  font-family: 'Righteous';
  border: 1px solid black;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}