@keyframes bounce {
  0%, 30%, 60%, 100% {
    transform: scale(1);
  }
  15%, 45%, 75% {
    transform: scale(1.07);
  }
}

* {
    box-sizing: border-box;
}

a, a:visited {
  color: inherit;
  text-decoration: none;
}

body {
  background-color: #EEEEEE;
  font-size: 1em;
}

.selected {
  border: 2px solid green;
}

/* TOPBAR */

.topbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-image: linear-gradient(to left, #7a1414, #CF2B2B, #F75C5C);
  display: flex;
  width: 100%;
}

.topbar img {
  height: 60px;
  margin: 5px 2%;
}

/* CONTENT */

.content {
  margin: 80px 2%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.food-title, .drink-title, .dessert-title, .address-title, .address-field {
  font-family: 'Righteous';
  font-size: 22px;
}

.container {
  display: flex;
  gap: 10px; /* GAP BETWEEN EACH PRODUCT (INLINE PRODUCTS, GAP FROM FOOD TO FOOD, DRINK TO DRINK...)*/
  overflow-x: scroll;
  flex-wrap: nowrap;
  scrollbar-width: none;
  margin-top: 10px;
}

.product {
  width: 120px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10%;
  flex-shrink: 0;
  cursor: pointer;
 }

 .product:hover {
  transform: scale(0.97);
  transition: transform .3s ease;
 }

.product-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 10px 5px;
  gap: 12px; /* BETWEEN .PLATE .DESCRIPTION AND .PRICE */
}

.product-info div:first-child {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px; /* BETWEEN .PLATE AND .DESCRIPTION */
}

.product-info img {
  width: 100%;
  height: 60px;
  object-fit: cover;
  border-radius: 10%;
}

.plate {
  font-family: 'Roboto';
  font-size: 14px;
  color: #333333;  
  text-align: center;
}

.description {
  font-family: 'Roboto';
  font-size: 12px;
  color: #A6A6A6;
  text-align: center;
}

.price {
  color: green;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Roboto';
}

/* BOTTOM BAR */

.bottombar {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: linear-gradient(to left, #CF2B2B, #F75C5C);
  display: flex;
  width: 100%;
  height: 70px;
  padding: 10px 10px;
}

.send {
  font-family: 'Righteous';
  font-size: 22px;
  font-weight: bold;
  width: 100%;
  height: 100%;
  color: #000000;
  background-color: grey;
  border: 1px solid black;
  border-radius: 50px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

.send.active {
  cursor: pointer;
  border: 2px solid black;
  background-color: yellow;
  animation: bounce 1s linear;
  transition: background-color 2s ease-in;
}

/* POPUP */

.popup-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: #e0e0e0cc;
  display: none;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(to top, #7a1414f0, #cf2b2bf0);
  display: flex;
  width: 99%;
  max-width: 350px;
  height: 350px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 30px;
}

.popup-title {
  font-family: 'Righteous';
  font-size: 1.5em;
}

.popup-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 95%;
}

.popup-details div {
  display: flex;
  justify-content: space-between;
  font-family: 'Roboto';
  font-size: 1.4em;
  color: #141414;
}

.popup-details div:last-child {
  margin-top: 6px;
  font-weight: bold;
  color: #000000;
}

form {
  font-size: 1.1em;
  display: flex;
  flex-direction: column;
  gap: 2px;
  color: #000000;
  width: 95%;
}

label {
  font-family: 'Righteous';
  width: max-content;
}

input {
  font-family: 'Righteous';
  border-radius: 5px;
  border: 1px solid black;
  outline: none;
}

input:focus {
  box-shadow: inset 0px 0px 3px #CF2B2B;
}

#required-text {
  font-family: 'Roboto';
  font-size: .75em;
  font-weight: bold;
  text-align: center;
  margin-top: 8px;
  color: white;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 5px;
  width: 95%;
}

.button-confirm, .button-goback {
  height: 45px;
  color: #000000;
  font-size: 1.2em;
  font-weight: bold;
  border-radius: 50px;
  font-family: 'Righteous';
  border: 2px solid black;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.button-confirm {
  width: 65%;
  background-color: yellow;
}

.button-goback {
  width: 35%;
  background-color: darkgrey;
}